:root {
    --ghax-bg-color: white;
    --ghax-fg-color: black;
    --ghax-font-family: Arial, sans-serif;
}

body {
    width: 20rem;
    background-color: var(--ghax-bg-color);
    font-family: var(--ghax-font-family);
    color: var(--ghax-fg-color);
    padding: 1rem;
}

.form-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem;
}

.hidden {
    display: none;
}

h2 {
    margin-top: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ghax-bg-color: #222;
        --ghax-fg-color: white;
    }
}
